$primary-color: pink;
$secondary-color: lightblue;
$active-color: purple;
$text-color: white;
$font-family: Arial, sans-serif;

ul {
  .li {
    color: $text-color;
    background-color: $primary-color;
    font-size: 16px;
    font-family: $font-family;
    text-align: left;
    line-height: 1.5;
    margin: 10px 0;
    padding: 5px 15px;
    list-style-type: disc;
    display: block;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer; // Indicate that the list item is clickable

    &:hover {
      background-color: $secondary-color;
    }

    &:active {
      background-color: $active-color;
    }

    // Additional styles for when the item is clicked and remains in a selected state
    &.selected {
      background-color: $active-color;
      border-color: $active-color;
    }
  }
}

button {
  color:white;
  background-color: mix(white, deepskyblue);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  &:hover {
    background-color: $active-color;
  }
}


