body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo {
width: 200px;
}

.login {
background-color: white;

.login-inner {
  align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column;
}

.heading {
  margin-left: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.welcome {
  margin-top: -20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}

.inputs {
gap: 12px;
width: 300px;
display: flex;
flex-direction: column;
}

.login-btn:hover {
background-color: #6aaf5e;
}
.login-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #108672;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.line {
  color: black;
  line-height: 1em;
  position: relative;
  text-align: center;
  outline: 0;
  border: 0;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

.google-btn-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  .google-btn {
    width: 400px;
  }

  .signup-wrapper {
    font-size: 16px;
  }

  .signup-link {
    color: green;
    font-family: system-ui;
    cursor: pointer;
    font-size: 18px;
  }
}