.chats-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .no-contacts-text {
  }
  .chat-bar {
    background-color: mix(white, mix(white, yellow));
    margin-top: 15px;
    margin-bottom: 15px;
    height: 70px;
    width: 1400px;
    border-radius: 15px;
    font-family: system-ui;
    font-weight: 500;
    color: mix(darken(blue, 100),blue);
    justify-content: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact-avatar {
    left: 10%;
    margin-top: 10px;
  }
  .trash-contact {
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
    &:active {
      color: grey;
    }
  }
  .contact-name {
    margin-left: 1%;
    margin-right: 20px;
    color: black;
    left: 225px;
  }
  .contact-chat-button {
    background-color: mix(white, skyblue);
    outline: none;
    border: none;
    height: 40px;
    width: 80px;
    color: white;
    font-size: 17px;
    font-family: system-ui;
    font-weight: 500;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    right: 10%;
    &:active {
      background-color: mix(white, mix(white, purple));
    }
  }
}

.search-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box {
  width: 60%;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgba(206, 235, 212, 0.989);
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 20px;

  .search-icon {
  }

  .input {
    width: 50%;
    height: 30px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: white;
    outline: none;
    border: 0.5px solid #212121;
    color: #212121;
    border-radius: 5px;
    font-family: system-ui;
    font-size: 16px;
  }

  .search-button {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: pink;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:active {
      background-color: mix(midnightblue, purple);
    }
  }

  .terminate-search-button {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: indianred;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:active {
      background-color: red;
    }
  }
}