.input {
    gap:20px;
    display: grid;
    margin-top: 50px;
    
    .each {
            height: 30px;
            padding: 10px;
            background-color: white;
            outline: none;
            border: 1px solid #212121;
            color: #212121;
            border-radius: 3px;
            font-family: system-ui;
            font-size: 16px;
            margin: 10px 0px;
          }
}

.save {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: #108672;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
  }