.instruction-bar {
  height: 60px;
  width: 100%;
  background-color: mediumpurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  gap: 5px;
  .instruction {
  }
  .instruction-icon {

  }
}

.input {
    gap:20px;
    display: grid;
    margin-top: 50px;
  .buttons-div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
    
    .each {
            height: 30px;
            padding: 10px;
            background-color: white;
            outline: none;
            border: 1px solid #212121;
            color: #212121;
            border-radius: 3px;
            font-family: system-ui;
            font-size: 16px;
            margin: 10px 0px;
          }
    .fine-print {
            gap:5px;
            color: grey;
            font-size: 12px;
    }
}

.save {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  background-color: #108672;
}

.submit-button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  background-color: #108672;
  &:active {
    background-color: lightgreen;
  }
}

.options-button {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #108672;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  .indicator-checkbox {
    position: absolute;
    left: 20px;
  }
}

.avatar-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  &:active {
    background-color: pink;
  }
}