.instruction-bar {
  height: 60px;
  width: 100%;
  background-color: mediumpurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  gap: 5px;
  .instruction {
  }
  .instruction-icon {
  }
}

.nav-back-button {
  margin-top: 25px;
  color: purple;
  font-size: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}

.instruction-bar-change-prof {
  height: 60px;
  width: 100%;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  gap: 5px;
  .instruction {
  }
  .instruction-icon {
  }
}

.input {
  gap:20px;
  display: grid;
  margin-top: 50px;
  .buttons-div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }
  .each {
    height: 30px;
    padding: 10px;
    background-color: white;
    outline: none;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 3px;
    font-family: system-ui;
    font-size: 16px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    .current-value {
    }
    .edit-button {
      outline: none;
      border: none;
      background-color: white;
      cursor: pointer;
    }
  }
  .fine-print {
    gap:5px;
    color: grey;
    font-size: 12px;
  }
}

.save {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  background-color: #108672;
}

.save-again {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  background-color: mix(white, deepskyblue);
}

.submit-button {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  background-color: #108672;
  &:active {
    background-color: lightgreen;
  }
}

.options-button {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #108672;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  .indicator-checkbox {
    position: absolute;
    left: 20px;
  }
}

.avatar-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  &:active {
    background-color: pink;
  }
}

.input-bar {
  height: 30px;
  width: 98.5%;
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 16px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.edit-button {
  color: green;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .edit-content {}
}

.do-not-edit-button {
  color: red ;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .edit-content {}
}

.edit-avatar-button {

}