.profile-card {
    width: auto;
    height: auto; 
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    background-color: rgb(221, 250, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .edit-button {
        background-color: transparent;
        outline: none;
        border: none;
    }
    .profile-avatar {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .name {
        margin-left: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: darkgreen;
    }
    .year-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .year-field {
            background-color: pink;
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .year-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .major-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .major-field {
            background-color: mix(white, purple);
            height:40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .major-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .email-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .email-field {
            background-color: mix(white, lightblue);
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .email-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .hobby-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .hobby-field {
            background-color: lightsalmon;
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .hobby-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .tagline-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .tagline-field {
            background-color: mix(white, mix(white, yellow));
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .tagline-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .preferences-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .preference-field {
            background-color: mix(white, turquoise);
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .preference-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .module-data {
        justify-content: left;
        display: flex;
        flex-direction: row;
        .module-field {
            background-color: lightgreen;
            height: 40px;
            width: 15%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .module-input {
            background-color: whitesmoke;
            height: 40px;
            width: 85%;
            border: 0.01px solid lavender;
            justify-content: center;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .edit-button {
        position: absolute;
        right: 20px;
        button {
            cursor: pointer;
        }
    }
    .name-and-profile {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
    .logout-zone {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logout-button {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2px;
            height: 40px;
            outline: none;
            border: none;
            background-color: white;
            border-radius: 20px;
            color: black;
            font-size: 17px;
            &:active{
                background-color: black;
                color: white;
            }
            .logout-button-text {
            }
            .logout-button-img {
            }
        }
    }
    .danger-zone {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .danger-text {
            font-size: 20px;
            color: darkred;
        }
        .delete-button {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2px;
            height: 40px;
            outline: none;
            border: none;
            background-color: lightcoral;
            border-radius: 20px;
            color: white;
            font-size: 17px;
            &:active{
                background-color: indianred;
            }
            .delete-button-text {
            }
            .delete-button-img {
            }
        }
    }
}

.posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}