.top-chat-bar {
  height: 70px;
  border-radius: 10px;
  background-color: mix(white, skyblue);
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.go-back-button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-left: 1%;
  margin-right: 2%;
  color: white;
  &:active {
    color: lightgrey;
  }
}

.to-user-avatar {

}

.to-user-name {
  margin-left: 1%;
}

.send-message-bar {
  background-color: pink;
  height: 70px;
  border-radius: 10px;
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  .from-user-avatar {
    margin-left: 1%;
    margin-right: 1%
  }
  .input-message-bar {
    height: 40px;
    width: 85%;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  .send-message-button {
    margin-left: 0.5%;
    border: 3px solid turquoise;
    border-radius: 100%;
    font-size: 40px;
    color: mediumpurple;
    background-color: pink;
    &:active {
      color: purple;
    }
  }
  .file-upload-button {
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 3px solid turquoise;
    border-radius: 100%;
    font-size: 40px;
    background-color: pink;
    color: mediumpurple;
  }
}

.messages-container {
  height: 80vh;
  overflow-y: scroll;
  gap: 5px;
  display: flex;
  flex-direction: column;
  .own-message {
    background-color: mix(white, mix(white, yellow));
    width: 60%;
    margin-top: 5px;
    margin-left: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    .own-date {
      color: mix(white, lightslategray);
      font-size: small;
    }
    .own-avatar-and-date {
      display: flex;
      flex-direction: row;
      .own-date {
        display: flex;
        flex-direction: row;
        justify-content: left;
      }
      .own-avatar {
        display: flex;
        flex-direction: row;
        margin-left: 78%;
      }
    }
  }
  .no-messages-yet-text {

  }
  .others-message {
    background-color: rgba(206, 235, 212, 0.989);
    width: 60%;
    margin-top: 5px;
    margin-left: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    .others-date {
      color: mix(white, lightslategray);
      font-size: small;
    }
    .others-avatar-and-date {
      display: flex;
      flex-direction: row;
      .others-date {
        display: flex;
        flex-direction: row;
        justify-content: left;
      }
      .others-avatar {
        display: flex;
        flex-direction: row;
        margin-left: 78%;
      }
    }
  }
}
