.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 500px;
  width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  background-color: indianred;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  &:active {
    background-color: red;
  }
}

.tutor-chat-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(206, 235, 212, 0.989);
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 15px;
  &:active {
    background-color: #6aaf5e;
  }
}

.search-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.module-field-button {
  height: 40px;
  width: 100px;
  background: mix(white, mix(white, yellow));
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: mix(white, lightgrey);
  font-size: 18px;
}

.tagline-field-button {
  height: 40px;
  width: 100px;
  background: pink;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: mix(white, mix(white, lightgrey));
  font-size: 18px;
}

.year-field-button {
  height: 40px;
  width: 100px;
  background: mix(white, mix(lightskyblue, mix(mix(lightgreen, white), white)));
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: mix(white, mix(white, mix(white, lightgrey)));
  font-size: 18px;
}

.tutor-input-button {
  height: 40px;
  width: 395px;
  background: mix(white, mix(lightgrey, white));
  outline: none;
  border: 0.01px solid rgba(206, 235, 212, 0.989);
  font-family: system-ui;
  font-weight: 300;
  color: black;
  font-size: 18px;
}

.tutor-credentials {
  display: flex;
  justify-content: left;
  align-items: center;
  .tutor-avatar-button {
    background: white;
    outline: none;
    border: none;
  }
  .tutor-name-button {
    background: white;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: black;
    font-size: 18px;
  }
}

.chat-button-design {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}